<!DOCTYPE html>
<html>
<head>
<title>Curmudgeon</title>
<style>
  body {
    font-family: sans-serif;
  }
  #introduction p {
    font-size: 1.1em;
    font-style: italic;
  }
  article {
    float: left;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.25em;
  }
  ul {
    padding-left: 1.5em;
  }
</style>
</head>
<body>

<%= yield %>

</body>
</html>